PORT=3000
AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_MnU14fJhg
COGNITO_CLIENT_ID=38hfjgaegfe0agdqn2n6a41pmh
USERS_TABLE=MiniJiraUsers
TEAMS_TABLE=MiniJiraTeams
PROJECTS_TABLE=MiniJiraProjects
TASKS_TABLE=MiniJiraTasks
COMMENTS_TABLE=MiniJiraComments
ACTIVITY_LOG_TABLE=MiniJiraActivityLog
TASK_IMAGES_BUCKET=mini-jira-swprojectgiu-2026-originals
RESIZED_IMAGES_BUCKET=mini-jira-swprojectgiu-2026-resized
ASSIGNMENT_TOPIC_ARN=arn:aws:sns:us-east-1:317112500169:mini-jira-task-assignments
ASSIGNMENT_QUEUE_URL=
